<h2>All post</h2>
<p>Enjoy reading<p>
</br>


<% @results.each do |post| %>
	<%= post ['content'] %>
	</br>
	Created <%= post ['created_date'] %>
	<hr/>
<% end %>



<table class="table table-hover">


   <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Post date</th>
      <th scope="col">Content</th>
    </tr>
  </thead>

<% @results.each do |row| %>

  <tbody>
  <tr>
  	<td><%= row['id'] %></td>
    <td><%= row['created_date'] %></td>
    <td><%= row['content'] %></td>
  </tr>
</tbody>

<% end %>

</table>